body{
    width: 100%;
    height: 100vh;
    background-color: red;
    margin: 0;
    padding: 0;
}

nav{
    background-color: #FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    column-gap:100px
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.button-right{
    display: flex;
    gap: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
    cursor: pointer;
}